/* Major Breakpoints */

@media screen and (min-width: 850px) {

  /* ---------------Header--------------- */

  .logo {
    width: 20%;
    margin: auto;
  }

  .fa-playstation {
    /* The ps logo svg */
    margin-left: 20px;
  }

  .name-title {
    width: 80%;
  }

  #name, #title {
    margin-right: 20px;
    margin-bottom: 0;
    text-align: right;
  }

  /* ---------------Top Section--------------- */

  .top-caption {
    font-size: 2em;
    line-height: 400px;
  }

  /* ---------------Featured work section--------------- */

  #feat-title {
    margin-left: 20px;
    text-align: left;
  }

  .first-work, .second-work, .third-work {
    width: calc((100% - 20px) / 3);
    height: auto;
    margin: 0 10px 0 0;
  }

  .third-work {
    margin-right: 0;
  }

}

/* ---------------Minor Breakpoints--------------- */

@media screen and (min-width: 1100px) {

  body {
    width: 1100px;
    margin: auto;
  }

  .fa-playstation {
    /* The ps logo svg */
    margin-left: 0;
  }

  #name, #title {
    margin-right: 0;
  }

  #feat-title {
    margin-left: 0;
  }
}
